.plus-button{
	float: left;
	padding: 10px;
}

.minus-button{
	float: right;
	padding: 10px;
}

.layers-wrapper{
	overflow-y : auto;
	overflow-x: hidden;
}

.layers-wrapper-button{
	width: 100%;
	height: 40px;
}